{% from 'bootstrap5/form.html' import render_form %}
{% extends "baseTemplate.html" %}


{% block content %}
    <h1 class="text-success text-center">
        Регистрация
    </h1>
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6 border border-white">
                <form id="registrationForm" method="post">
                    {{ render_form(form) }}
                    <a href="{{ url_for("auth.sign_in") }} " class="btn btn-primary" type="button"
                       style="margin-top: 10px">Есть аккаунт</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}